@font-face {
    font-family: "Archive";
    src: url("./Archive/ArchiveRegular.eot");
    src: url("./Archive/ArchiveRegular.eot?#iefix")format("embedded-opentype"),
    url("./Archive/ArchiveRegular.woff") format("woff"),
    url("./Archive/ArchiveRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}